body{
	background-color:rgb(97,89,86);
	color:rgb(110,3,2);
}
fieldset{
	width: 50%;
	margin:20% 25%;
	position: absolute;
	font-size:40px;
	border-color:rgb(110,34,23);
}
input{
	width: 80%;
	font-size:30px;
}
button{
	position:relative;
	left:5%;
	height:30%;
	width: 10%;
	border-radius:100%;
	border-color:rgb(110,34,23);
	background-color:rgb(110,34,23);
	color:rgb(97,89,86);
}
.containerP{
	height:50%;
	width: 70%;
	margin:15% 20%;
	position:absolute;
	border:2px double black;
	border-radius: 50px;

}
.test{
	margin:20% 25%;
	position:absolute;

}
.but{
	margin:30% 30%;
	height: 10%;
	width: 10%;
	position:absolute;
}
.but1{
	margin:30% 40%;
	height: 10%;
	width: 10%;
	position:absolute;
}